/* NAVBAR */

.navbar {
  width: 100%;
  background: #033445;
  position: relative;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.navbar-logo img {
  height: 40px;
}

/* NAVIGATION */

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* LINKS */

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #1d4ed8;
}

/* RIGHT */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.call-link {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.call-link span {
  font-weight: bold;
}

.contact-button {
  background: rgb(0,92,134);
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.contact-button:hover {
  background: #1d4ed8;
}

/* DROPDOWN */

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* DESKTOP HOVER */

.dropdown:hover .dropdown-menu {
  display: flex;
}

/* MENU */

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: white;
  border-radius: 8px;
  padding: 15px;
  display: none;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu a {
  text-decoration: none;
  color: #1c8dd8;
  padding: 10px;
  border-radius: 6px;
}

.dropdown-menu a:hover {
  background: #f3f4f6;
}

.menu-title {
  font-weight: 600;
}

.menu-subtext {
  font-size: 13px;
  color: #6b7280;
}

/* HAMBURGER */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

/* MOBILE CONTACT */

.mobile-right {
  display: none;
}

/* MOBILE */

@media (max-width: 900px) {

  .hamburger {
    display: flex;
  }

  .navbar-right {
    display: none;
  }

  .navbar-nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #033445;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 15px;
    display: none;
  }

  .navbar-nav.active {
    display: flex;
  }

  /* disable hover dropdown on mobile */

  .dropdown:hover .dropdown-menu {
    display: none;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    background: white;
    margin-top: 10px;
  }

  .dropdown-toggle {
    width: 100%;
    text-align: left;
  }

  .nav-link {
    width: 100%;
  }

  .mobile-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

}